/Planungsraum_EPSG_25833.shp
/Planungsraum_EPSG_25833.shx
/Planungsraum_EPSG_25833.dbf
/berlinBrandenburg_Zones_VKZ_4326.shp
/region_4326.shp
/region_4326.shx
/region_4326.dbf
/region_4326.prj
/region_4326.cpg
/berlinBrandenburg_Zones_VKZ_4326.shx
/berlinBrandenburg_Zones_VKZ_4326.dbf
/berlinBrandenburg_Zones_VKZ_4326.prj
/berlinBrandenburg_Zones_VKZ_4326.cpg
/berlinBrandenburg_landuse_4326.shp
/berlinBrandenburg_landuse_4326.shx
/berlinBrandenburg_landuse_4326.dbf
/berlinBrandenburg_landuse_4326.prj
/berlinBrandenburg_landuse_4326.cpg
/buildings_BerlinBrandenburg_4326.shp
/buildings_BerlinBrandenburg_4326.shx
/buildings_BerlinBrandenburg_4326.dbf
/buildings_BerlinBrandenburg_4326.prj
/buildings_BerlinBrandenburg_4326.cpg
